<div class="bg-info p-a-1">
  Selected Product: {{selectedProduct || '(None)'}}
</div>
<table class="table table-sm table-bordered m-t-1">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of getProducts(); let i = index" [class.bg-info]="getSelected(item)">
    <td (mouseover)="selectedProduct=item.name">{{i + 1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.category}}</td>
    <td>{{item.price}}</td>
  </tr>
</table>
<!--14.9 Используем объект события $event для передачи значения его свойства в компонент-->
<div class="form-group">
  <label>Product Name</label>
  <input class="form-control" (input)="selectedProduct=$event.target.value"/>
</div>
<!--14.10 Использование ссылочной переменной шаблона #product-->
<div class="bg-info p-a-1">
  Selected Product: {{product.value || '(None)'}}
</div>
<div class="form-group">
  <label>Product Name</label>
  <input #product class="form-control" (input)="false"/>
</div>

