<div class="bg-info p-a-1 m-b-1">Model Data: {{jsonProduct}}</div>
<form novalidate (ngSubmit)="addProduct(newProduct)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control"
           name="name"
           [(ngModel)]="newProduct.name"
           #name="ngModel"
           required
           minlength="5"
           pattern="^[A-Za-zА-Яа-я ]+$"/>
    <ul class="text-danger list-unstyled" *ngIf="name.dirty && name.invalid">
      <li *ngFor="let error of getValidationMessages(name)">
        {{error}}
      </li>
    </ul>
  </div>
  <button class="btn btn-primary" type="submit">
    Create
  </button>
</form>
